################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RefProjectForSubModule/.vs/RefProjectForSubModule/v16/Server/sqlite3
/RefProjectForSubModule/.vs/RefProjectForSubModule/v16
/RefProjectForSubModule/RefProjectForSubModule/obj
/RefProjectForSubModule/RefProjectForSubModule/Properties
/RefProjectForSubModule/RefProjectForSubModule/bin/Debug/netcoreapp3.1/Properties
/RefProjectForSubModule/RefProjectForSubModule/bin/Debug/netcoreapp3.1
/RefProjectForSubModule/.vs/RefProjectForSubModule/DesignTimeBuild/.dtbcache
/RefProjectForSubModule/.vs/RefProjectForSubModule/config
